.table {
    width: 50%;
    margin-top: 5rem;
    text-align: left;
    margin-left: 1rem;
    margin: 0 auto;
    margin-top: 5rem;
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
}
thead {
  color: darkcyan;
}

tbody tr {
  height: 2rem;
  background-color: #213540;
}
tbody button {
    display: flex;
    align-items: center;
    gap: 4px;
}